<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dwi.crmjajananpasar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icn"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icn"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activity.detail_product.DetailProductActivity"></activity>
        <activity android:name=".ui.activity.recomended.RecommendedActivity" />
        <activity android:name=".ui.activity.recipe_detail.RecipeDetailActivity" />
        <activity android:name=".ui.activity.recipe.RecipeActivity" />
        <activity android:name=".ui.activity.favourite.FavouriteActivity" />
        <activity android:name=".ui.activity.profile.ProfileActivity" />
        <activity android:name=".ui.activity.home.HomeActivity" />
        <activity android:name=".ui.activity.register.RegisterActivity" />
        <activity android:name=".ui.activity.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>